@import './font.css';

.kasssh-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.kasssh-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
    margin: 5px;
}

.kasssh-close:focus,
.kasssh-close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.__kasssh-popup-page {
    position: fixed;
    background-color: #fff;
    height: 80%;
    width: 50%;
    left: 25%;
    top: 10%;
    border: 1px solid #000;
    overflow-x: hidden;
    z-index: 9990
}

@media only screen and (max-width: 1024px) {
    .__kasssh-popup-page {
        left: 15%;
        width: 70%
    }
}

@media only screen and (max-width: 750px) {
    .__kasssh-popup-page {
        left: 7%;
        width: 80%
    }

    #kassshInstructions .step {
        width: 50% !important
    }

    #kassshConfirmation .rTableRow {
        display: block !important
    }

    .kasssh-footer-left.rWidth-50 {
        width: 100% !important
    }

    .kasssh-footer-right.rWidth-50 {
        width: 100% !important
    }
}

.__kasssh-small-icon {
    width: 30px;
    cursor: pointer
}

.__kasssh-logo-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
}

@media only screen and (max-width: 800px) {
    .__kasssh-logo-container {
        width: 95%;
        margin-left: 5%;
        margin-right: 5%
    }
}

.__kasssh-center {
    text-align: center;
    vertical-align: middle
}

.__kasssh-image-full {
    max-height: 80px;
    width: auto !important;
    margin: auto;
    display: block
}

.__kasssh-title-text {
    font-size: 14pt;
    font-weight: 700
}

.__kasssh-pointer {
    cursor: pointer
}

.rTable {
    display: table;
    width: 99%
}

.rTableRow {
    display: table-row;
    width: 100%
}

.rTableCell {
    display: inline-block;
    vertical-align: middle
}

.rWidth-20 {
    width: 20% !important
}

.rWidth-50 {
    width: 50% !important
}

.rWidth-80 {
    width: 75% !important
}

.__kasssh-table-icon {
    width: 20px
}

.__kasssh-footer {
    background-color: #306879;
    color: #fff;
    padding: 20px
}

.__kasssh-email {
    font-size: 10pt
}

body {
    font-family: sans-serif !important
}

.kasssh-message {
    text-align: center
}

.kasssh-message h2 {
    max-width: 60rem;
    margin: auto;
    text-align: center;
    color: #9ba1a4
}

.kasssh-message h2 span {
    color: #58bbb1;
}

@media screen and (min-height: 800px) {
    #kassshInstructions {
        margin: 10% 0;
    }
}

@media screen and (min-height: 768px) {
    #kassshInstructions {
        margin: 7% 0;
    }
}

#kassshInstructions {
    display: flex;
    flex-wrap: wrap
}

.kasssh-footer-right {
    background-color: #f7f7f8;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0
}

.kasssh-footer-left {
    background-color: #f1f1f3;
    padding: 30px 0
}

#kassshInstructions .step .message {
    color: #677076;
    font-size: 10px
}

#kassshInstructions .step .kasssh-store-locator {
    font-size: 10px;
    color: #32285a;
    padding: 5px 10px;
    background-color: #ffda03;
    border-radius: 10px;
    text-decoration: none;
}

#kassshInstructions .kasssh-image_container {
    height: 100px;
    width: 100px;
    margin: auto;
    border: 1px dotted gray;
    position: relative;
    border-radius: 50%
}

.kasssh-image_container img {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%)
}

#kassshInstructions .step {
    width: 25%
}

#kassshConfirmation {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#kassshConfirmation .rTableRow {
    display: flex;
}

.kasssh-continue-button {
    background: #58bbb1;
    border: none;
    padding: 15px 30px;
    color: #fff;
    border-radius: 10px
}

#kassshInstructions .step .number {
    color: #58bbb1
}

#kasssh-tnc-placeholder {
    margin-bottom: 1rem;
}
