@import "./font.css";

#kasssh-popup-container {
  position: absolute;
  z-index: 999;
  background: #fff;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
}

[data-kasssh-popup] {
  @import "/node_modules/bootstrap/scss/bootstrap";

  font-family: Raleway;
  height: 100%;

  .kasssh-popup {
    /**/
    height: 100%;
  }

  .kasssh-footer {
    background-color: #f0f0f0;
  }

  .steps {
    text-align: center;
  }

  .kasssh-text-color {
    color: #58bbb0;
  }

  .kasssh-store-locator {
    color: #444444;
  }

  [data-kasssh-amount-error] {
    width: 100%;
    background: #009990;
    z-index: 9;
    opacity: 0.5;

    h2 {
      color: #fff;
      opacity: 1;
    }
  }

  [data-kasssh-info] > span {
  }

  [data-kasssh-input] input.form-control {
    max-width: 20rem;
  }

  .kasssh-submit-button {
    width: 10rem;
    padding: 0;
    border: 0;
    outline: none;
    &:disabled {
      cursor: not-allowed;
      pointer-events: unset;
    }
  }

  .check-box-container {
    height: 1rem;
    line-height: 1.1rem;
    position: relative;
    font-size: 0.9rem;
    cursor: pointer;
    padding-left: 28px;
    user-select: none;

    &:hover input ~ .checkmark {
      background-color: #dcfffb;
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background-color: #58bbb1;
      }
      &:checked ~ .checkmark:after {
        display: block;
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border: 2px solid #58bbb1;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 2px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2.5px 2.5px 0;
        transform: rotate(45deg);
      }
    }
  }

  .kasssh-logo {
    padding-top: 0.5rem;
    border-bottom: 1px solid #e7e7e7;
  }
  .kasssh-loading-container {
    background: #00000022;
    z-index: 9999;
    width: 100%;
    height: 100%;
  }
  .kasssh-loading {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #58bbb0; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @include media-breakpoint-down(md) {
    .kasssh-logo {
      img {
        max-width: 50%;
      }
    }
    .step-img img {
      max-width: 30%;
    }
    .step-message {
      font-size: 0.8rem;
    }
  }
}
