@import "./font.css";

#kasssh-popup-container {
  position: absolute;
  z-index: 999;
  background: #fff;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
}

[data-kasssh-popup] {
  @import "/node_modules/bootstrap/scss/bootstrap";

  font-family: Raleway;
  height: 100%;

  .kasssh-popup {
    /**/
    height: 100%;
  }
  

  .kasssh-footer{
    background-color: #f0f0f0;
  }

  .steps{
    text-align: center;
  }

  .kasssh-text-color {
    color:#58bbb0;
  }

  [data-kasssh-amount-error] {
    width: 100%;
    background: #009990;
    z-index: 9;
    opacity: 0.5;
    
    h2 {
      color: #fff;
      opacity: 1;
    }
  }

  [data-kasssh-info]>span {
  }

  [data-kasssh-input] input.form-control {
    max-width: 20rem;
  }

  .kasssh-submit-button {
    width: 10rem;
    padding: 0;
    border: 0;
    outline: none;
    &:disabled {
      cursor: not-allowed;
      pointer-events: unset;
    }
  }

  .check-box-container {
    height: 1.5rem;
    line-height: 1.5rem;
    position: relative;
    cursor: pointer;
    padding-left: 36px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover input ~ .checkmark {
      background-color: #dcfffb;
    }

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background-color: #58bbb1;
      }
    }
    input:checked ~ .checkmark:after {
      display: block;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #fff;
      border: 2px solid #58bbb1;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  .kasssh-logo {
    padding-top: 0.5rem;
    border-bottom: 1px solid #e7e7e7;
    
  }
  @include media-breakpoint-down(md) {
    .kasssh-logo {
      img {
        max-width: 50%;
      }
    }
    .step-img img{
      max-width: 30%;
    }
  }

}

